<div class="footer cBase">
  <div class="rectangles">
    <div class="Element" style="flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
      <div class="Frame48" style="justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div class="rectangle bcBlack"></div>
        <div class="rectangle bcNone"></div>
        <div class="rectangle bcBlack"></div>
        <div class="rectangle bcNone"></div>
        <div class="rectangle bcBlack"></div>
        <div class="rectangle bcNone"></div>
        <div class="rectangle bcBlack"></div>
        <div class="rectangle bcNone"></div>
        <div class="rectangle bcBlack"></div>
        <div class="rectangle bcNone"></div>
        <div class="rectangle bcBlack"></div>
        <div class="rectangle bcNone"></div>
        <div class="rectangle bcBlack"></div>
      </div>
    </div>
  </div>
    <div class="Cta" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div class="Interessiert">Interessiert?</div>
      <div class="Frame11" style="justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
        <div class="JetztMitmachen" >Jetzt MItmachen!</div>
<!--        <div class="arrowFooter" style="width: 83px; height: 67.41px; position: relative;">-->
<!--          <div class="Line2 bBase" style="width: 83px; height: 0px; left: -0px; top: 31.70px; position: absolute;"></div>-->
<!--          <div class="Group2" style="width: 33.71px; height: 67.41px; left: 49.18px; top: 0px; position: absolute">-->
<!--            <div class="Line3 bBase" style="width: 47.68px; height: 0px; left: 1px; top: 68.6px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0;"></div>-->
<!--            <div class="Line4 bBase" style="width: 47.68px; height: 0px; left: 5px; top: -3.1px; position: absolute; transform: rotate(45deg); transform-origin: 0 0;"></div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="divider"></div>
    <div class="credentials">
      <div class="Frame10" style="justify-content: flex-start; align-items: center; gap: 128px; display: flex">
        <div class="logo">
          <a href="/">
          <img class="PexelsNmrHrd35710651" style="flex: 1 1 0; align-self: stretch" src="/assets/home/logo.svg"></img>
          </a>
        </div>
<!--        <div class="Frame8" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">-->
<!--          <div class="WasIstJugger noLink" style="font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Was ist Jugger?</div>-->
<!--          <div class="Verein noLink" style="font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Verein</div>-->
<!--          <div class="UnserTeam noLink" style="font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Unser Team</div>-->
<!--          <div class="Galerie noLink" style="font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Galerie</div>-->
<!--        </div>-->
      </div>
      <div class="footer-contacts cWhite">
        <div>
          <a href="mailto:vorstand@jugger-muenster.de" style="text-align: right; float: right">vorstand [at] jugger-muenster.de</a>
        </div>
<!--        <div class="Datenschutz noLink" style="font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Datenschutz</div>-->
        <div class="footer-link">
          <a href="https://www.instagram.com/jugger_muenster/?hl=de">Instagram</a>
        </div>
        <div class="footer-link">
          <a href="/impressum">Impressum</a>
        </div>
        <div class="copyright">Design von Henning Otto. Copyright 2023. Alle Rechte vorbehalten.</div>
      </div>
    </div>
  </div>