<div class="footer">
    <div class="Cta" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div class="Interessiert" style="color: #FE3232; font-size: 96px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Interessiert?</div>
      <div class="Frame11" style="justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
        <div class="JetztMitmachen" style="color: #FE3232; font-size: 96px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Jetzt MItmachen!</div>
        <div class="Group3" style="width: 83px; height: 67.41px; position: relative">
          <div class="Line2" style="width: 83px; height: 0px; left: -0px; top: 31.70px; position: absolute; border: 3px #FE3232 solid"></div>
          <div class="Group2" style="width: 33.71px; height: 67.41px; left: 49.18px; top: 0px; position: absolute">
            <div class="Line3" style="width: 47.68px; height: 0px; left: -0px; top: 67.41px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 3px #FE3232 solid"></div>
            <div class="Line4" style="width: 47.68px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 3px #FE3232 solid"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider" style="height: 0px; border: 1px #FE3232 solid"></div>
    <div class="Credentials" style="align-self: stretch; padding-top: 32px; padding-bottom: 32px; justify-content: space-between; align-items: flex-start; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: center; gap: 128px; display: flex">
        <div class="Logo" style="width: 127.74px; height: 121.17px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <img class="PexelsNmrHrd35710651" style="flex: 1 1 0; align-self: stretch" src="/assets/home/logo.svg"></img>
        </div>
        <div class="Frame8" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
          <div class="WasIstJugger" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Was ist Jugger?</div>
          <div class="Verein" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Verein</div>
          <div class="UnserTeam" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Unser Team</div>
          <div class="Galerie" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Galerie</div>
        </div>
      </div>
      <div class="Frame9" style="flex-direction: column; justify-content: center; align-items: flex-end; gap: 16px; display: inline-flex">
        <div class="KontaktJuggerMuensterDe" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; text-decoration: underline; word-wrap: break-word">kontakt@jugger-muenster.de</div>
        <div class="Datenschutz" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Datenschutz</div>
        <div class="Impressum" style="color: #FE3232; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Impressum</div>
        <div class="Copyright2023AlleRechteVorbehalten" style="color: #A7A7A7; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Copyright 2023. Alle Rechte vorbehalten.</div>
      </div>
    </div>
  </div>