<div class="Section2" style="align-self: stretch; height: 982px; padding-top: 64px; padding-left: 64px; padding-right: 64px; background: white; flex-direction: column; justify-content: space-between; align-items: flex-start; display: flex; position: relative;">
    <div class="Frame22" style="align-self: stretch; height: 777px; background: #171715; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <iframe width="1400px" height="777px" src="https://www.youtube.com/embed/cQqLVYiQzxY?si=ahQzPlHMur4ZBCb7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="Frame21" style="padding-left: 128px; padding-right: 128px; justify-content: flex-start; align-items: center; gap: 194px; display: inline-flex;position: absolute;
        right: 0px; top: 64px; z-index: 2;">
        <div class="Frame20" style="padding-top: 64px; padding-bottom: 64px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
            <div class="MachDirEinBild" style="color: #FE3232; font-size: 96px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Mach dir ein Bild</div>
        </div>
    </div>
    <div class="Frame49" style="align-self: stretch; height: 96px; padding-top: 64px; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 8px; display: flex">
        <div class="Element" style="flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
            <div class="Frame48" style="justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="Rectangle15" style="width: 32px; height: 32px; background: #171715"></div>
                <div class="Rectangle12" style="width: 32px; height: 32px; background: white"></div>
                <div class="Rectangle14" style="width: 32px; height: 32px; background: #171715"></div>
                <div class="Rectangle13" style="width: 32px; height: 32px; background: white"></div>
                <div class="Rectangle9" style="width: 32px; height: 32px; background: #171715"></div>
                <div class="Rectangle10" style="width: 32px; height: 32px; background: white"></div>
                <div class="Rectangle11" style="width: 32px; height: 32px; background: #171715"></div>
                <div class="Rectangle19" style="width: 32px; height: 32px; background: white"></div>
                <div class="Rectangle16" style="width: 32px; height: 32px; background: #171715"></div>
                <div class="Rectangle20" style="width: 32px; height: 32px; background: white"></div>
                <div class="Rectangle17" style="width: 32px; height: 32px; background: #171715"></div>
                <div class="Rectangle21" style="width: 32px; height: 32px; background: white"></div>
                <div class="Rectangle18" style="width: 32px; height: 32px; background: #171715"></div>
            </div>
        </div>
    </div>
</div>