<script type="text/javascript">
    function resetIframeWidth(elem) {
        var parent = elem.parentNode;
        elem.width = parent.clientWidth;
        if (parent.parentNode.clientWidth < 400) {
            elem.height = 300;
        } else if (parent.parentNode.clientWidth < 600) {
            elem.height = 350;
        } else if (parent.parentNode.clientWidth < 900) {
            elem.height = 400;
        } else {
            elem.height = 450;
        }
    }
    function setGoogleIframeWidth(elem) {
        resetIframeWidth(elem);
        window.addEventListener("resize", function() {resetIframeWidth(elem)});
    }

</script>

{% assign trainingsort2 = page.trainingsort2 %}
{% if trainingsort2 %}
<div class="section1">
{% else %}
<div class="section1 two-column">
{% endif %}
    <div class="Frame21" style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
        <div class="Frame20" style="max-width: 100%; flex: 1 1 0; padding-top: 64px;  flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
            <h1 id="trainingszeiten" class="trainingszeiten cWhite">Trainingszeiten</h1>
            <div class="training-container">
                <div class="training-content">
                    <iframe class="training-maps" onload="setGoogleIframeWidth(this)" src="https://maps.google.com/maps?q=Wienburgstraße 151&layer=tc&t=m&z=18&source=embed&output=svembed" width="350" height="300"></iframe>
                    <div class="Frame15" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div class="cWhite" style="font-size: 1.8em; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                            {{ page.trainingsort1 }}</div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div class="cWhite" style="font-size: 1.3em; font-family: Roboto; font-weight: 700; word-wrap: break-word">
                                {{ page.trainingstag1 }}</div>
                            <div class="cWhite" style="font-size: 1.3em; font-family: Roboto; font-weight: 400; word-wrap: break-word">
                                {{ page.trainingszeit1 }}</div>
                        </div>
                    </div>

                </div>
                {% if trainingsort2 %}
                <div class="training-content" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
<!--                    <iframe class="training-maps" onload="setGoogleIframeWidth(this)" src="https://maps.google.com/maps?q='CV' Jugendtreff des CVJM Münster&layer=tc&t=m&z=18&source=embed&output=svembed" width="350" height="300"></iframe>-->
                    <iframe class="training-maps" onload="setGoogleIframeWidth(this)" src="https://maps.google.com/maps?q=Wienburgstraße 151&layer=tc&t=m&z=18&source=embed&output=svembed" width="350" height="300"></iframe>
                    <div class="Frame15" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div class="cWhite" style="font-size: 1.8em; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                            {{ page.trainingsort2 }}</div>
                        <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div class="cWhite" style="font-size: 1.3em; font-family: Roboto; font-weight: 700; word-wrap: break-word">
                                {{ page.trainingstag2 }}</div>
                            <div class="cWhite" style="font-size: 1.3em; font-family: Roboto; font-weight: 400; word-wrap: break-word">{{ page.trainingszeit2 }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="training-content" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                    <div class="Frame15" style="align-self: stretch; height: 111px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div class="DuMChtestJuggerMalAusprobieren cWhite" style="align-self: stretch; font-size: 1.2em; font-family: Roboto; font-weight: 700; word-wrap: break-word">Du möchtest Jugger mal ausprobieren?</div>
                        <div class="GarKeinProblemMeldeDichEinfachBeiUnsAnUndKommZumNChstenTrainingWirFreuenUnsAufDich cWhite" style="align-self: stretch; font-size: 1.2em; font-family: Roboto; font-weight: 400; word-wrap: break-word">Gar kein Problem! Melde dich einfach bei uns an<br/>und komm zum nächsten Training.<br/>Wir freuen uns auf dich!</div>
                    </div>
                    <div class="jetztMitmachenBox">
                        <div class="JetztMitmachen cWhite" style="font-size: 18px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Jetzt MItmachen!</div>
<!--                        <div class="Group3" style="width: 24px; height: 19.49px; position: relative">-->
<!--                            <div class="Line2" style="width: 24px; height: 0px; left: 0px; top: 8.17px; position: absolute; border: 2px white solid"></div>-->
<!--                            <div class="Group2" style="width: 9.75px; height: 19.49px; left: 14.22px; top: 0px; position: absolute">-->
<!--                                <div class="Line3" style="width: 13.79px; height: 0px; left: 0px; top: 19.49px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 2px white solid"></div>-->
<!--                                <div class="Line4" style="width: 13.79px; height: 0px; left: 3px; top: -2.7px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 2px white solid"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Frame49" style="align-self: stretch; height: 32px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
        <div class="Element" style="flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
            <div class="Frame48" style="justify-content: flex-start; align-items: flex-start; display: inline-flex; margin-top: 36px;
">
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
                <div class="rectangle bcBase"></div>
                <div class="rectangle bcSecondary"></div>
            </div>
        </div>
    </div>
</div>