<script type="text/javascript">
    function resetYouTubeIframe(elem) {
        var parent = elem.parentNode;
        var width = Math.min(800,parent.clientWidth);
        elem.width = width;
        elem.height = width * 2/3;
    }
    function setYouTubeIframeWidth(elem) {
        resetYouTubeIframe(elem);
        window.addEventListener("resize", function() {resetYouTubeIframe(elem)});
    }

</script>

<div class="Section Section2 bcSecondary">
    <div class="section-container bcSecondary">
        <div class="inner-container2">
            <iframe height="400px" onload="setYouTubeIframeWidth(this)" src="https://www.youtube.com/embed/RQ9SOx6ZUak?si=AO6d88xtzF9clx_a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!--            <div class="Frame21" style="padding-left: 128px; padding-right: 128px; justify-content: flex-start; align-items: center; gap: 194px; display: inline-flex;position: absolute;-->
            <!--            right: 0px; top: 64px; z-index: 2; width: 600px">-->
            <!--                <div class="Frame20" style="padding-top: 64px; padding-bottom: 64px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">-->
            <!--                    <div class="MachDirEinBild cBase" style="font-size: 96px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Mach dir ein Bild</div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>

</div>

<div class="Frame49" style="align-self: stretch; height: 0; top: -10px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: flex">
    <div class="Element" style="flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
        <div class="Frame48" style="justify-content: flex-start; align-items: flex-start; display: inline-flex; margin-top: 0px;
">
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
            <div class="rectangle bcBase"></div>
            <div class="rectangle bcSecondary"></div>
        </div>
    </div>
</div>

<div class="Section Section3 bcBase">
    <div class="section-container">
        <div class="inner-container2">
            <iframe height="400px" onload="setYouTubeIframeWidth(this)" src="https://www.youtube.com/embed/kO3Rk0DUAi8?si=G8ofYtIAmE6rw3DX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!--            <div class="Frame21" style="padding-left: 128px; padding-right: 128px; justify-content: flex-start; align-items: center; gap: 194px; display: inline-flex;position: absolute;-->
            <!--            right: 0px; top: 64px; z-index: 2; width: 600px">-->
            <!--                <div class="Frame20" style="padding-top: 64px; padding-bottom: 64px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">-->
            <!--                    <div class="MachDirEinBild cBase" style="font-size: 96px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Mach dir ein Bild</div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>

</div>