<div class="jugWrapper">
    <div class="jugBackground">
        <div class="backgroundImage"></div>
        <div class="Rectangle1"
             style="width: 100vw; height: 100vh; transform: rotate(-180deg); transform-origin: 0 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.35) 72%)"></div>
    </div>
    <div class="jugFrameTitel">
        <div class="heroLogo">
            <img class="PexelsNmrHrd35710651" style="flex: 1 1 0; align-self: stretch"
                 src="/assets/home/logo.svg"></img>
        </div>
        <div class="hero">
            <div class="Frame3"
                 style="padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
                <div class="JuggerMNsterEV cBase">
                    Jugger Münster e.V.
                </div>
                <div class="Frame12"
                     style="padding-left: 4px; padding-right: 4px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div class="Saison20232024"
                         style="color: white; font-size: 2em; font-family: Roboto; font-weight: 300; text-transform: uppercase; word-wrap: break-word">
                        seit 2009
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="Frame11"-->
<!--             style="padding: 16px; border: 2px white solid; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">-->
<!--            <div class="WasIstjugger"-->
<!--                 style="color: white; font-size: 1em; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">-->
<!--                Was ist Jugger?-->
<!--            </div>-->
<!--            <div class="Group3" style="width: 45px; height: 36.54px; position: relative">-->
<!--                <div class="Line2"-->
<!--                     style="width: 45px; height: 0px; left: 0px; top: 16.31px; position: absolute; border: 3px white solid"></div>-->
<!--                <div class="Group2"-->
<!--                     style="width: 18.28px; height: 36.54px; left: 26.66px; top: 0px; position: absolute">-->
<!--                    <div class="Line3"-->
<!--                         style="width: 25.85px; height: 0px; left: 1px; top: 37.5px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 3px white solid"></div>-->
<!--                    <div class="Line4"-->
<!--                         style="width: 25.85px; height: 0px; left: 5px; top: -3.5px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 3px white solid"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="jugScrollDown">
        <div class="ScrollDown bcBase"
             style="padding: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div class="Group4"
                 style="width: 18.02px; height: 18.05px; position: relative; transform: rotate(0deg); left: 22.5px; top: 7px; transform-origin: 0 0">
                <div class="Rectangle24 bcBlack"
                     style="width: 16px; height: 2px; left: -1.43px; top: 1.43px; position: absolute; transform: rotate(135deg); transform-origin: 0 0"></div>
                <div class="Rectangle25 bcBlack"
                     style="width: 15px; height: 2px; left: -22.65px; top: 0.02px; position: absolute; transform: rotate(45deg); transform-origin: 0 0"></div>
                <div class="Rectangle26 bcBlack"
                     style="width: 22.11px; height: 2px; left: -11.76px; top: -11.76px; position: absolute; transform: rotate(90deg); transform-origin: 0 0"></div>
            </div>
        </div>
    </div>
    <div class="jugMenuOverlay">
        <div class="jugMenu1">
            <div class="Rectangle5" style="width: 24px; height: 3px; position: relative">
                <div class="Rectangle2"
                     style="width: 24px; height: 3px; left: 0px; top: 0px; position: absolute; background: white"></div>
            </div>
            <div class="Rectangle3" style="width: 24px; height: 3px; position: relative">
                <div class="Rectangle2"
                     style="width: 24px; height: 3px; left: 0px; top: 0px; position: absolute; background: white"></div>
            </div>
            <div class="Rectangle4" style="width: 24px; height: 3px; position: relative">
                <div class="Rectangle2"
                     style="width: 24px; height: 3px; left: 0px; top: 0px; position: absolute; background: white"></div>
            </div>
        </div>
        <div class="jugMenu2">
            <div class="MenuItems"
                 style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                <div class="MenuItem"
                     style="padding: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div class="Frame44"
                         style="transform: rotate(-90deg); transform-origin: 0 0; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div class="Rectangle7" style="width: 8px; height: 2px; background: white"></div>
                        <div class="Rectangle8"
                             style="width: 10px; height: 2px; transform: rotate(90deg); transform-origin: 0 0; background: white"></div>
                    </div>
                    <div class="Home"
                         style="color: white; font-size: 46px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                        Home
                    </div>
                </div>
                <div class="MenuItem"
                     style="padding: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div class="Frame44"
                         style="transform: rotate(-90deg); transform-origin: 0 0; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div class="Rectangle7" style="width: 8px; height: 2px; background: white"></div>
                        <div class="Rectangle8"
                             style="width: 10px; height: 2px; transform: rotate(90deg); transform-origin: 0 0; background: white"></div>
                    </div>
                    <div class="Home"
                         style="color: white; font-size: 46px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                        Was ist Jugger?
                    </div>
                </div>
                <div class="MenuItem"
                     style="padding: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div class="Frame44"
                         style="transform: rotate(-90deg); transform-origin: 0 0; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div class="Rectangle7" style="width: 8px; height: 2px; background: white"></div>
                        <div class="Rectangle8"
                             style="width: 10px; height: 2px; transform: rotate(90deg); transform-origin: 0 0; background: white"></div>
                    </div>
                    <div class="Home"
                         style="color: white; font-size: 46px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                        Verein
                    </div>
                </div>
                <div class="MenuItem"
                     style="padding: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div class="Frame44"
                         style="transform: rotate(-90deg); transform-origin: 0 0; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div class="Rectangle7" style="width: 8px; height: 2px; background: white"></div>
                        <div class="Rectangle8"
                             style="width: 10px; height: 2px; transform: rotate(90deg); transform-origin: 0 0; background: white"></div>
                    </div>
                    <div class="Home"
                         style="color: white; font-size: 46px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                        Unser Team
                    </div>
                </div>
                <div class="MenuItem"
                     style="padding: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div class="Frame44"
                         style="transform: rotate(-90deg); transform-origin: 0 0; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div class="Rectangle7" style="width: 8px; height: 2px; background: white"></div>
                        <div class="Rectangle8"
                             style="width: 10px; height: 2px; transform: rotate(90deg); transform-origin: 0 0; background: white"></div>
                    </div>
                    <div class="Home"
                         style="color: #FE3232; font-size: 46px; font-family: Odibee Sans; font-weight: 400; text-transform: uppercase; word-wrap: break-word">
                        Mitmachen!
                    </div>
                </div>
            </div>
            <div class="jugMenuInner">
                <div class="Rectangle4"
                     style="width: 30.17px; height: 3.77px; position: relative; transform: rotate(45deg); transform-origin: 0 0">
                    <div class="Rectangle2"
                         style="width: 30.17px; height: 3.77px; left: 0px; top: 0px; position: absolute; background: white"></div>
                </div>
                <div class="Rectangle3"
                     style="width: 30.17px; height: 3.77px; position: relative; transform: rotate(-45deg); transform-origin: 0 0">
                    <div class="Rectangle2"
                         style="width: 30.17px; height: 3.77px; left: 0px; top: 0px; position: absolute; background: white"></div>
                </div>
            </div>
        </div>
    </div>
</div>