@media (max-width: 1300px) {
  .footer {

    .rectangles {
      top: -1.5em;
    }

    .arrowFooter {
      transform: scale(85%);
    }
  }

  .rectangle {
    width: 1.5em;
    height: 1.5em;
  }

  .training-content {
    width: calc(50% - 32px);
  }

  .section1 {
    height: 1100px;
    font-size: 15px;
  }
}

@media (max-width: 1030px) {
  .section1 {
    height: 1030px;
  }
}

@media (max-width: 900px) {

  .jugWrapper {
    width: calc(100vw - 64px);
    height: calc(100vh - 64px);
    padding: 32px;
    position: relative;
  }

  .jugFrameTitel {
    padding-bottom: 0px;
  }

  .jugScrollDown {
    z-index: 5;
  }



  .hero {

    .JuggerMNsterEV {
      font-size: 8vh;
      font-family: Odibee Sans;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 8vh;
      word-wrap: break-word
    }
  }

  .footer {
    padding: 5%;
    width: 90%;

    .rectangles {
      top: -1.2em;
    }
    .divider {
      width: 90vw;
    }

    .arrowFooter {
      transform: scale(70%);
    }
  }

  .rectangle {
    width: 1.2em;
    height: 1.2em;
  }

  .section1 {
    font-size: 14px;
  }

}

@media (max-width: 700px) {
  .training-content {
    width: calc(100%);
  }

  .section1 {
    height: 1500px;
  }
}

@media (max-width: 600px) {

  .trainingszeiten {
    font-size: 2.8em;
  }

  .footer {

    .rectangles {
      top: -0.9em;
    }

    .arrowFooter {
      transform: scale(50%);
    }

    .Cta {
      font-size: calc(2.5vw + 2.5vh);
    }
  }

  .rectangle {
    width: 0.9em;
    height: 0.9em;
  }

  .section1 {
    font-size: 11px;
    height: 1450px;
  }

}

@media (max-width: 530px) {
  .section1 {
    height: 1350px;
  }
}

@media (max-width: 400px) {

  .trainingszeiten {
    font-size: 2.3em;
  }
  .section1 {
    font-size: 10px;
  }

  .footer {
    height: 350px;
    .footer-contacts {
      gap: 10px;
      font-size: 12px;
    }
    .logo {
      width: 95.81px;
      height: 90.88px;
    }
  }
}
