/*.tile {*/
/*	height: 100vh;*/
/*	width: 100vh;*/
/*}*/

/*.tile:first-of-type {*/
/*	background-color: black;*/
/*}*/
/*.tile:nth-of-type(2) {*/
/*	background-color: red;*/
/*}*/

/*.tile:nth-of-type(2) h1 {*/
/*	background-color: red;*/
/*	color: white;*/
/*}*/

/*h1 {*/
/*	color: red;*/
/*	text-transform: uppercase;*/
/*}*/

/*.tile.div-3 div {*/
/*	width: 33%;*/
/*	float: left;*/
/*}*/
.main {
  background: #171715;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.tile {
  align-self: stretch;
  height: 100vh;
  padding-left: 64px;
  padding-right: 64px;
  background: $base-color;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.jugWrapper {
  align-self: stretch;
  width: calc(100vw - 128px - 22px);
  height: calc(100vh - 128px);
  padding: 64px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.jugBackground {
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  .backgroundImage {
    background: url(/assets/home/wrapper.png);
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: cover;
  }
}

.jugScrollDown {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  position: absolute;
  left: calc(50% - 9px);
  bottom: -0.506px;
}

.jugFrameTitel {
  display: flex;
  padding: 60px 0px; // 96px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex: 1 0 0;
  align-self: stretch;
  z-index: 2;
}

.footer {
  align-self: stretch;
  height: 360px;
  padding: 64px;
  background: #171715;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  display: flex;

  .divider {
    width: 1384px;
    height: 0px;
    border: 1px $base-color solid
  }
}

.jugMenuOverlay {
  width: 1512px;
  height: 982px;
  position: absolute;
  z-index: 100;
  display: none;
}

.jugMenu1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.jugMenu1:hover {
  & ~ .jugMenu2 {
    visibility: visible;
  }
}

.jugMenu2 {
  display: inline-flex;
  height: 982px;
  padding: 64px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  visibility: hidden;
  background: #171715;
}

.jugMenuInner {
  display: flex;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  right: -48px;
  top: 32px;
}

.section1 {
  align-self: stretch;
  height: 982px;
  padding-left: 64px;
  padding-right: 64px;
  background: $base-color;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex
}

.rectangle {
  width: 32px;
  height: 32px;
  z-index: 2;
}

.bcWhite {
  background: white
}

.bcBase {
  background: $base-color
}

.bcBlack {
  background: $base-black
}

.cWhite {
  color: white
}

.cBase {
  color: $base-color
}

.cBlack {
  color: $base-black
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: inherit !important;
}

.noLink {
  opacity: 50%;
}

/*.inner-centered {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*}*/